In [ ]:
from google.colab import files
x = files.upload()

Saving sales (2).csv to sales (2).csv

In [ ]:
import pandas as pd
df = pd.read_csv('sales (2).csv')
df

    Campaign Number  Money Spent   Sales
0                 1         1150  1367.0
1                 2         1250  1482.0
2                 3         1550  1693.0
3                 4         1600  1699.0
4                 5         1000  1250.0
5                 6         1800  1798.0
6                 7         1850     NaN
7                 8         1900  1990.0
8                 9         2000  2104.0
9                10         1450  1621.0
10               11         1500  1603.0
11               12         1700  1749.0
12               13         1650  1723.0
13               14         1350  1592.0
14               15         1300  1533.0

In [ ]:
df[['Sales']].interpolate(method = 'pad')

     Sales
0   1367.0
1   1482.0
2   1693.0
3   1699.0
4   1250.0
5   1798.0
6   1798.0
7   1990.0
8   2104.0
9   1621.0
10  1603.0
11  1749.0
12  1723.0
13  1592.0
14  1533.0

In [ ]:
# if we don't use any argument like pad
df[['Sales']].interpolate()

     Sales
0   1367.0
1   1482.0
2   1693.0
3   1699.0
4   1250.0
5   1798.0
6   1894.0
7   1990.0
8   2104.0
9   1621.0
10  1603.0
11  1749.0
12  1723.0
13  1592.0
14  1533.0

In [ ]:
df[['Sales']].interpolate(method = 'cubic')

          Sales
0   1367.000000
1   1482.000000
2   1693.000000
3   1699.000000
4   1250.000000
5   1798.000000
6   1998.783602
7   1990.000000
8   2104.000000
9   1621.000000
10  1603.000000
11  1749.000000
12  1723.000000
13  1592.000000
14  1533.000000

In [ ]:
df[['Sales']].interpolate(method = 'quadratic')

          Sales
0   1367.000000
1   1482.000000
2   1693.000000
3   1699.000000
4   1250.000000
5   1798.000000
6   1986.754599
7   1990.000000
8   2104.000000
9   1621.000000
10  1603.000000
11  1749.000000
12  1723.000000
13  1592.000000
14  1533.000000

In [ ]:
# if we use polynomial then we have to use order as define 2/3/4 dimensional
df[['Sales']].interpolate(method = 'polynomial', order = 3)

          Sales
0   1367.000000
1   1482.000000
2   1693.000000
3   1699.000000
4   1250.000000
5   1798.000000
6   1998.783602
7   1990.000000
8   2104.000000
9   1621.000000
10  1603.000000
11  1749.000000
12  1723.000000
13  1592.000000
14  1533.000000

In [ ]:
from google.colab import files
files.upload()

Saving OUTLIERS (2).csv to OUTLIERS (2).csv

{'OUTLIERS (2).csv': b'Campaign Number,Money Spent,Sales\r\n9,2000,2104\r\n8,1900,1990\r\n7,1850,8217\r\n6,1800,1798\r\n12,1700,1749\r\n13,1650,1723\r\n4,1600,1699\r\n3,1550,1693\r\n11,1500,1603\r\n10,1450,1621\r\n14,1350,1592\r\n15,1300,1533\r\n2,1250,1482\r\n1,1150,1367\r\n5,1000,1250'}

In [ ]:
df = pd.read_csv('OUTLIERS (2).csv')
df

    Campaign Number  Money Spent  Sales
0                 9         2000   2104
1                 8         1900   1990
2                 7         1850   8217
3                 6         1800   1798
4                12         1700   1749
5                13         1650   1723
6                 4         1600   1699
7                 3         1550   1693
8                11         1500   1603
9                10         1450   1621
10               14         1350   1592
11               15         1300   1533
12                2         1250   1482
13                1         1150   1367
14                5         1000   1250

In [ ]:
# chceck outliers
import numpy as np
q1 = np.percentile(df['Sales'],25)
q3 = np.percentile(df['Sales'],75)

iqr = q3 - q1

upper = q3 + 1.5 * iqr
lower = q1 - 1.5 * iqr

outlier = []

for x in df['Sales']:
  if(x>upper or x<lower):
    outlier.append(x)

print(outlier)

[2104, 8217]

In [ ]:
df['Sales'].mean()

2094.733333333333

In [ ]:
median = df['Sales'].median()

In [ ]:
#replace outliers
df['Sales'][df['Sales'] == 2104] = median
df['Sales'][df['Sales'] == 8217] = median
df

    Campaign Number  Money Spent  Sales
0                 9         2000   1693
1                 8         1900   1990
2                 7         1850   1693
3                 6         1800   1798
4                12         1700   1749
5                13         1650   1723
6                 4         1600   1699
7                 3         1550   1693
8                11         1500   1603
9                10         1450   1621
10               14         1350   1592
11               15         1300   1533
12                2         1250   1482
13                1         1150   1367
14                5         1000   1250